.profile {
  display: grid;
  grid-template-columns: 3.6fr 1fr;
  gap: 66px;

  &__data-wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__avatar-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__data-title {
    margin: 0;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    color: var(--primary-text-color, #0f0f0f);
  }

  &__contacts-wrapper {
    padding-top: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  &__button-wrapper_edit {
    width: fit-content;
  }
}

@media screen and (max-width: 1430px) {
  .profile {
    grid-template-columns: 3.4fr 1fr;
    gap: 0;

    &__contacts-wrapper {
      gap: 50px;
    }
  }
}

@media screen and (max-width: 1070px) {
  .profile {
    &__contacts-wrapper {
      gap: 20px;
    }
  }
}

@media screen and (max-width: 860px) {
  .profile {
    grid-template-columns: 1fr;
    &__button-wrapper {
      display: none;
    }

    &__data-wrapper {
      gap: 21px;
    }

    &__avatar-wrapper {
      display: flex;
      gap: 24px;
      align-items: center;
    }

    &__data-title {
      font-size: 20px;
    }

    &__contacts-wrapper {
      padding-top: 8px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 19px;
    }
  }
}

@media screen and (max-width: 560px) {
  .profile {
    &__button-wrapper_edit {
      width: 100%;
    }
  }
}
