.card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 610px;
  min-height: 760px;
  border-radius: 10px;
  background-color: var(--purple-pale-color, #f9f7fc);
  padding: 40px;
  justify-content: center;
  &__title {
    margin: 0;
    color: var(--primary-text-color, #0f0f0f);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
  }
  &__block-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__block-title {
    margin: 0;
    color: var(--primary-text-color, #0f0f0f);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
    letter-spacing: 1px;
  }
  &__block-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    &_row {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__block-item {
    color: var(--primary-text-color, #0f0f0f);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
    &_schedule {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      min-width: 132px;
      min-height: 78px;
      border-radius: 8px;
      border: 1px solid var(--primary-purple-color, #9384b7);
      background: var(--background-white-color, #fff);
      text-align: center;
    }
  }
  &__descr {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
    margin: 0;
    color: var(--primary-text-color, #0f0f0f);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &_pt {
      padding-top: 4px;
    }
  }
  &__button-wrapper {
    padding-top: 6px;
    display: grid;
    grid-template-columns: 275px 231px;
    gap: 24px;
  }
  &__add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__add-title {
    margin: 0;
    color: var(--primary-text-color, #0f0f0f);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
  }
}

.textAR {
  text-align: right;
}

@media screen and (max-width: 1440px) {
  .card {
    width: 552px;
    &__button-wrapper {
      grid-template-columns: 221px 235px;
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 320px;
    padding: 16px;
    gap: 24px;
    min-height: min-content;
    &__title {
      font-size: 20px;
    }
    &__button-wrapper {
      grid-template-columns: 1fr;
      gap: 8px;
    }
    &__block-title {
      font-size: 18px;
      font-weight: 600;
    }
    &__block-items {
      gap: 4px;
    }
    &__block-item {
      font-size: 14px;
      line-height: 18px; /* 128.571% */
      letter-spacing: 0.28px;
      &_schedule {
        padding: 8px;
        min-width: 130px;
        width: 130px;
        min-height: 56px;
      }
    }
    &__descr {
      font-size: 16px;
      line-height: 20px; /* 125% */
      letter-spacing: 0.32px;
      &_fz12 {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 150% */
      }
    }
    &__add-title {
      font-size: 16px;
      line-height: 20px; /* 125% */
      letter-spacing: 0.32px;
    }
  }
}
