.button {
  margin: 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  /* Добавляем transition для тени */
  width: fit-content;
  box-shadow: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  &:hover {
    /* Отображение наведения только для активных кнопок */
    &:not([disabled]) {
        box-shadow: 4px 4px 8px 0px var(--primary-purple-color-rgba, rgba(143, 129, 177, 0.20));
        /* Применяем тень при ховере */
    }
  }

  &[disabled]:not(.load) {
    /* Отключение курсора для неактивных кнопок, но не в режиме загрузки */
    cursor: not-allowed;
  }

  &.load {
    /* Стиль для кнопок в режиме загрузки */
    cursor: wait;
    pointer-events: none; /* Отключение событий мыши */

    &.disabled {
      /* Стиль для кнопок в режиме загрузки и неактивных */
      cursor: not-allowed;
    }
  }

  &.load.disabled:not(.load) {
    box-shadow: none;
  }
}

.button__container {
   display: flex;
   flex-direction: row;
   align-items: center;

   &.small, &.medium, &.large {
    padding: 10px 12px !important;
   }

   outline-width: 2px !important;
   outline-offset: -2px !important;

   gap: 18px;
}


.purple-filled {
  background-color: var(--primary-purple-color, #9384B7);
  color: white;

  &:active {
    background-color: var(--purple-pushed-color, #615779);
    box-shadow: none !important;
  }

  &.disabled {
    background-color: var(--purple-disabled-color, #D2C9E8);
    cursor: none;
  }
}

.outlined {
  box-sizing: border-box !important;
  background-color: transparent !important;
  color: var(--primary-purple-color, #9384B7);
  outline: 2px solid var(--primary-purple-color, #9384B7);
  outline-offset: -2px;

  &:active {
    outline-color: var(--purple-pushed-color, #615779);
    color: var(--purple-pushed-color, #615779);
    box-shadow: none !important;
  }
    &.disabled {
    cursor: none;
    color: var(--purple-disabled-color, #D2C9E8);
    outline-color: var(--purple-disabled-color, #D2C9E8);
    /* Изменил border-color на outline-color */
  }
  
  &.large {
    outline-width: 3px !important;
    outline-offset: -3px !important;
  }
}

.large {
  font-size: 26px;
  line-height: 29px;
  /* 111.538% */
  letter-spacing: 0.78px;
  padding: 20.5px 62.5px;
}

.load.large {
  padding: 18.33px 62.5px;
}

.medium {
  padding: 12px 30px;
}

.load.medium {
  padding: 12.8px 30px;
}

.small{
    padding: 10px 20px;
}

.hide {
  height: 0px;
  visibility: hidden;
}

// класс кнопки "добавить" с +
.add {
  background-image: url(../../../assets/images/icon/btn-plus/btn-plus-white.svg);
  background-color: var(--primary-purple-color, #9384B7);
  background-position: center center;
  background-repeat: no-repeat;

  &:active {
    background-color: var(--purple-pushed-color, #615779);
    box-shadow: none !important;
  }

  &.disabled {
    background-color: var(--purple-disabled-color, #D2C9E8); /* Добавьте эту строку */
  }

  &.load{
    background-image: none;
  }

  &.medium{
    padding: 23px !important;
    width: 70px;
    height: 70px;
  }

  &.large {
    padding: 12px !important;
    width: 90px;
    height: 90px;
  }
}

.square{
  border-radius: 8px;
}

.round{
  border-radius: 25rem;
}
