.component {
  width: clamp(310px, 80vw, 1100px);

  &__title {
    font-size: clamp(18px, 3vw, 24px);
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: clamp(24px, 5vh, 32px);
  }

  &__container {
    display: flex;
    gap: 8px 7px;
    flex-wrap: wrap;
  }
}
