.description {
  width: clamp(280px, 88vw, 800px);
  margin: 60px auto;
  margin-top: clamp(24px, 10%, 60px);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: clamp(100px, 10%, 0px);

  &__title {
    font-size: clamp(20px, 5vw, 28px);
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: clamp(32px, 10%, 48px);
  }

  &__conteiner-btn {
    margin: 40px auto 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 760px) {
  .description {
    margin-top: 20px;
    &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }
  }
}