.nav {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: fit-content;
  position: relative;
  border-bottom: 1px solid var(----grey-color, #d4d4d4);
}

.marginT {
  margin-top: 50px;
}
