// Основные цвета
$primary-purple-color: #9384B7;
$purple-light-color: #B8ACD4;
$purple-pushed-color: #615779;
$purple-disabled-color: #D2C9E8;
$green-color: #8FD6BF;
$yellow-color: #F9D279;
$blue-color: #BED2EA;

// Дополнительные цвета
$background-color: #fff;
$background-section-color: #F8F8F8;

// Цвет текста
$primary-text-color: #000;
$primary-text-span-color: #9C9C9C;
$text-button-color: $purple-pushed-color;

//Дополнительные цвета
$link-color: $primary-purple-color; //пример
$search-color: $BEBEBE;
$grey-color: $F8F8F8;
$light-color: $D4D4D4; 