.login {
  font-family: 'Montserrat', Arial, sans-serif;
  max-width: 1440px;
  min-height: 671px;

  &__container-logo {
    display: block;
    width: 150px;
    padding: 20px 0;
    margin-bottom: 60px;
  }
}
