.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 620px;
  margin: 60px auto;
  &__image {
    width: 300px;
    height: 300px;
    background-image: url('../../assets/images/images/notification-images/11.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__title {
    font-family: 'Century Gothic', Arial, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: bold;
    line-height: 66px;
    margin: 0;
  }
  &__message {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    text-align: center;
    color: var(--text-grey-color)
  }
  &__links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 35px;
  }
  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    &:hover {
      opacity: 0.6;
    }
  }
}
