.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 620px;
  margin: 60px auto;
  text-align: center;
  &__image {
    width: 300px;
    height: 300px;
    background-image: url('../../assets/images/images/notification-images/11.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__title {
    font-family: 'Century Gothic', Arial, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: bold;
    line-height: 66px;
    margin: 0;
  }
  &__message {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    text-align: center;
    color: var(--text-grey-color)
  }
  &__links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 35px;
  }
  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    &:hover {
      opacity: 0.6;
    }
  }
}

@media screen and (max-width: 760px) {
  .error {
    gap: 18px;
    max-width: 480px;
    padding: 0 20px;
    &__image {
      width: 200px;
      height: 200px;
    }
    &__title {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 140% */
      letter-spacing: 0.4px;
    }
    &__message {
      font-size: 16px;
      line-height: 20px;
    }
    &__links {
      gap: 28px;
    }
    &__link {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 560px) {
  .error {
    max-width: 100%;
    &__message {
      max-width: 430px;
    }
  }
}
