.section-header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  margin-top: 42px;

  &__title {
    margin: 0 auto;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
  }
}
