.card-wrapper {
  // display: flex;
  // gap: 20px;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 760px) {
  .card-wrapper {
    grid-template-columns: 1fr;
    &_carousel {
      display: flex;
      flex-wrap: nowrap;
      width: fit-content;
      gap: 8px;
    }
  }
}
