.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 500px;
  margin: auto;
  &__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin: 0 0 8px;
  }
  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    margin: 0;
    padding: 0;
  }
  &__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
  }
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__label {
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    margin: 0;
  }
  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
