.graph {
  width: 726px;
  margin: 0 auto;
  display: flex;

  &__container {
    display: flex;
    flex-direction: row;
    height: 47px;
    gap: 20px;
    margin: 0 32px 0 40px;

    &_checkbox {
      width: 180px;
      display: flex;
    }
  }
}
