.articles {
  font-family: 'Montserrat', Arial, sans-serif;
  padding-top: 48px;
  width: var(--content-width-for-screen-1440);

  &__paragraph {
    margin: 12px 0 48px;
    color: var(--text-grey-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 0;
    margin-bottom: 100px;
    flex-wrap: wrap;
    row-gap: 40px;
  }

  &__li {
    list-style-type: none;
  }
}

@media screen and (max-width: 1430px) {
  .articles {
    width: var(--content-width-for-screen-1280);

    &__container {
      row-gap: 20px;
    }
  }
}
