.root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 100%;
  flex: 1 0 auto;
}

.main-with-margins {
  width: var(--content-width-for-screen-1440);
}

.mt40 {
  margin-top: 40px !important;
}

@media screen and (max-width: 1430px) {
  .main-with-margins {
    width: var(--content-width-for-screen-1280);
  }
}

@media screen and (max-width: 1270px) {
  .main-with-margins {
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 760px) {
  .main-with-margins {
    padding: 0 20px;
  }
}