.root {
  width: 100%;
  max-width: 1430;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 100%;
  flex: 1 0 auto;
}

.main-with-margins {
  width: 1240px;
}

.mt40 {
  margin-top: 40px !important;
}

@media screen and (max-width: 1280px) {
  .main-with-margins {
    width: 1120px;
  }
}
