.promo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-height: 631px;
  background: #F3EBBC;;
  padding-bottom: 135px;

  &__content {
    width: var(--content-width-for-screen-1440);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: var(--font-colors-black, #0f0f0f);
    font-family: Century Gothic;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    max-width: 578px;
    margin-top: 120px;
    margin-bottom: 48px;
  }

  &__text {
    color: var(--font-colors-black, #0f0f0f);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    max-width: 498px;
    margin-top: 0px;
    margin-bottom: 54px;
  }

  &__img {
    position: absolute;
    background-image: url(../../assets/images/images/main-page-background/background-dog.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 680px;
    height: 681px;
    background-position: right bottom;
    right: 62px;
    bottom: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 1430px) {
  .promo {
    padding-bottom: 84px;
    min-height: 565px;

    &__content {
      width: var(--content-width-for-screen-1280);
    }

    &__title {
      margin-top: 105px;
      margin-bottom: 50px;
    }

    &__text {
      margin-bottom: 52px;
    }

    &__img {
      background-size: 612px 629px;
      right: 53px;
    }
  }
}

@media screen and (max-width: 1270px) {
  .promo {
    min-height: 460px;

    &__content {
      padding: 0 50px;
      width: 100%;
    }

    &__title {
      margin: 40px 0;
      font-size: 53px;
      max-width: 435px;
    }

    &__text {
      margin-bottom: 52px;
      font-size: 18px;
      line-height: 22px;
      max-width: 435px;
    }

    &__img {
      background-size: 430px 445px;
      width: 430px;
      height: 445px;
      right: 50px;
    }
  }
}

@media screen and (max-width: 990px) {
  .promo {
    min-height: 400px;
    padding-bottom: 50px;

    &__title {
      font-size: 48px;
      line-height: 50px;
      max-width: 435px;
    }

    &__text {
      margin-bottom: 42px;
      font-size: 18px;
      line-height: 20px;
      max-width: 390px;
    }

    &__img {
      background-size: 340px 360px;
      width: 340px;
      height: 360px;
      right: 0;
    }
  }
}

@media screen and (max-width: 760px) {
  .promo {
    min-height: 352px;
    padding-bottom: 40px;

    &__content {
      padding: 0 20px;
    }

    &__title {
      margin: 32px 0;
      font-size: 36px;
      line-height: 40px;
      max-width: 335px;
    }

    &__text {
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 18px;
      max-width: 335px;
    }

    &__img {
      background-size: 223px 278px;
      width: 223px;
      height: 278px;
    }
  }
}

@media screen and (max-width: 560px) {
  .promo {
    padding-bottom: 258px;
    min-height: 590px;

    &__content {
      padding: 0 20px;
    }

    &__title {
      margin: 32px 0;
      font-size: 32px;
      line-height: 44px;
      width: 100%;
    }

    &__text {
      margin-bottom: 24px;
      font-size: 18px;
      font-weight: 600;
    }

    &__img {
      background-size: 223px 278px;
      background-position: right bottom;
      right: 0;
      bottom: 0;
    }
  }
}

.specialists {
  padding: 120px 0;
  background-color: var(--text-white-color);
  border-radius: 20px 20px 0px 0px;
  width: 100%;

  &__content {
    width: var(--content-width-for-screen-1440);
    margin: 0 auto;
  }

  &__title {
    color: var(--primary-text-color, #0f0f0f);
    font-family: Century Gothic;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    width: 100%;
    margin: 0 auto 60px 0;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 1430px) {
  .specialists {
    padding: 100px 0;

    &__content {
      width: var(--content-width-for-screen-1280);
    }
  }
}

@media screen and (max-width: 1270px) {
  .specialists {
    padding: 60px 0;

    &__content {
      width: 100%;
      padding: 0 50px;
      margin: 0 auto;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      width: 100%;
      margin-bottom: 32px;
    }
  }
}

@media screen and (max-width: 990px) {
  .specialists {
    &__title {
      font-size: 26px;
      line-height: 30px;
    }
  }
}

@media screen and (max-width: 760px) {
  .specialists {
    &__title {
      font-size: 26px;
      line-height: 30px;
    }

    &__cards {
      row-gap: 25px;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 560px) {
  .specialists {
    padding: 60px 0;

    &__content {
      padding: 0 20px;
    }

    &__title {
      font-size: 20px;
      line-height: 28px;
    }

    &__cards {
      column-gap: 12px;
      row-gap: 16px;
      max-width: 375px;
    }
  }
}
