.promo {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-height: 671px;
    background-image: url(../../assets/images/images/main-page-background/background-dog.png);
    margin-top: -100px;
    padding: 0 100px 140px;

    &__title {
        color: var(--font-colors-black, #0F0F0F);
        font-family: Century Gothic;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 66px;
        max-width: 578px;
        margin: 220px auto 32px 0;
    }

    &__text {
        color: var(--font-colors-black, #0F0F0F);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        max-width: 498px;
        margin: 0 auto 54px 0;
    }

    &__button {
        display: inline-flex;
        height: 70px;
        min-width: 230px;
        padding: 30px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px;
        background: var(--main-colors-purple, #9384B7);
        border: none;
        color: var(--font-colors-white, #FFF);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 29px; 
        letter-spacing: 0.78px;
        margin: 0 auto 135px 100px;
        padding: 30px 20px;
        box-sizing: border-box;
        cursor: pointer;
    }

    &__button:hover {
        background-color: var(--background-white-color, #FFF);
        color: var(--main-colors-purple, #9384B7);
        border: 3px solid var(--main-colors-purple,#9384B7);
    }
}

.gap {
    height: 40px;
    border-radius: 20px 20px 0px 0px;
    background: var(--font-colors-white, #FFF);
    margin-top: -10px;
}