.tab {
  width: 210px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: var(--text-grey-color, #9c9c9c);
  padding: 15px 0;
  display: block;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
  cursor: pointer;

  &_active {
    color: var(--primary-purple-color, #9384b7);
    border-bottom: 2px solid var(--primary-purple-color, #9384b7);
  }
}

@media screen and (max-width: 960px) {
  .tab {
    width: 150px;
    padding: 12px 0;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 760px) {
  .tab {
    width: 104px;
    padding: 12px 0;
    font-size: 14px;
    line-height: 20px;
  }
}
