.goods {
  max-width: 100%;
  column-gap: 20px;
  padding: 100px 0 120px;

  &__content {
    width: var(--content-width-for-screen-1440);
    margin: auto;
  }

  &__title {
    color: var(--primary-text-color, #0f0f0f);
    font-family: Century Gothic;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    max-width: 670px;
    margin: 0 auto 60px 0;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1430px) {
  .goods {
    padding: 100px 0;

    &__content {
      max-width: var(--content-width-for-screen-1280);
    }

    &__cards {
      column-gap: 16px;
    }
  }
}

@media screen and (max-width: 1270px) {
  .goods {
    padding: 60px 0;

    &__content {
      max-width: none;
      width: 100%;
      padding: 0 50px;
      margin: 0;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      width: 100%;
      margin: 0 auto 32px 0;
    }

    &__cards {
      column-gap: 10px;
    }
  }
}

@media screen and (max-width: 990px) {
  .goods {
    &__title {
      font-size: 26px;
      line-height: 30px;
    }
  }
}

@media screen and (max-width: 760px) {
  .goods {
    padding: 60px 0;

    &__content {
      padding: 0 20px;
    }

    &__title {
      font-size: 26px;
      line-height: 30px;
      width: 100%;
      margin: 0 auto 32px 0;
    }

    &__cards {
      flex-wrap: wrap;
      row-gap: 25px;
      max-width: 410px;
    }
  }
}

@media screen and (max-width: 560px) {
  .goods {

    &__title {
      font-size: 20px;
      line-height: 28px;
      width: 100%;
      margin: 0 auto 32px 0;
    }

    &__cards {
      row-gap: 16px;
      max-width: 375px;
    }
  }
}


@media screen and (max-width: 358px) {
  .goods {
    &__cards {
      justify-content: center;
    }
  }
}