.form {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_avatar {
      flex-direction: row;
      gap: 20px;
    }
  }

  &__legend {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 125% */
    margin-bottom: 20px;
  }

  &__wrapper-button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 140px;
    justify-content: center;
    &_mobile {
      display: none;
      flex-direction: column;
    }
  }

  &__avatar-button {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    color: var(--primary-text-color, #0f0f0f);
    background: none;
    border: none;
    cursor: pointer;
  }

  &__button-save {
    width: 117px;
  }

  &__delete {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    color: var(--primary-text-color, #0f0f0f);
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
    padding-top: 20px;
    &:hover {
      opacity: 0.7;
    }
  }

  &__image {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 760px) {
  .form {
    gap: 24px;

    &__fieldset {
      width: 100%;
      gap: 4px;

      &_avatar {
        flex-direction: row;
        align-items: center;
        gap: 20px;
      }
    }

    &__legend {
      margin-bottom: 12px;
      font-size: 18px;
      line-height: 24px; /* 133.333% */
    }

    &__wrapper-button {
      display: none;
      &_mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    &__delete {
      font-size: 14px;
    }

    &__button-save {
      width: 100%;
    }
  }
}
