.me-service {
  margin: 0 auto;

  &__title {
    margin: 60px 0 48px 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
  }

  &__container {
    display: flex;
    gap: 20px;
  }

  &__block-name {
    width: 324px;
  }
}
