.final {
  display: flex;
  flex-direction: column;
  gap: clamp(32px, 38px, 40px);
  width: clamp(300px, 90%, 1280px);
  margin-top: clamp(24px, 10%, 60px);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

  &__container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(70vw 15vw);
    grid-template-rows: repeat(78px 45px 59px 26px);
    margin-bottom: clamp(0px, 10%, 0px);
  }

  &__title {
    margin-left: 0;
    margin-bottom: clamp(32px, 10%, 48px);
    font-size: clamp(18px, 4vw, 28px);
    font-style: normal;
    font-weight: 600;
    line-height: clamp(28px, 30px, 35px);
    grid-area: 1 / 1 / 2 / 2;
  }

  &__name {
    font-size: clamp(16px, 3vw, 24px);
    font-style: normal;
    font-weight: 600;
    line-height: clamp(24px, 28px, 30px);
    margin: 0 0 15px;
    grid-area: 2 / 1 / 3 / 2;
  }

  &__text {
    font-size: clamp(14px, 4vw, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: clamp(28px, 26px, 24px);
    margin: 0;
    grid-area: 3 / 1 / 4 / 2;
  }

  &__description {
    margin-top: 35px;
    margin-bottom: 0;
    font-size: clamp(16px, 4vw, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    grid-area: 4 / 1 / 5 / 2;
  }

  &__img {
    border-radius: 8px;
    width: clamp(96px, 80%, 228px);
    height: clamp(134px, 70%, 164px);
    object-fit: cover;
    grid-area: 1 / 2 / 5 / 3;
    justify-self: end;
  }

  &__container-btn {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 100px;
  }
}

@media (max-width: 515px) {
  .final {
    &__container {
      grid-template-columns: repeat(108px 212px);
      grid-template-rows: repeat(60px 32px 102px 84px);
    }

    &__description {
      margin-top: 20px;
      font-size: 16px;
    }

    &__container-btn {
      width: 72vw;
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px;
    }

    &__title {
      grid-area: 1 / 1 / 2 / 3;
    }

    &__name {
      grid-area: 2 / 2 / 3 / 3;
    }

    &__text {
      grid-area: 3 / 2 / 4 / 3;
    }

    &__description {
      grid-area: 4 / 1 / 5 / 3;
    }

    &__img {
      grid-area: 2 / 1 / 4 / 2;
      justify-self: start;
    }
  }
}
