.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: url('../../assets/images/icon/avatar/big-avatar.svg') center
    no-repeat;
  background-color: var(--grey-light-color, #f8f8f8);
  background-size: 40%;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  &_big {
    width: 190px;
    height: 190px;
  }

  &_small {
    width: 40px;
    height: 40px;
  }

  &_white-back {
    background-color: var(--background-white-color, #fff);
  }

  &_header {
    background-image: url('../../assets/images/icon/avatar/avatar.svg');
    background-size: 100%;
    background-color: transparent;
  }
}

@media screen and (max-width: 990px) {
  .avatar_header {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 760px) {
  .avatar {
    width: 80px;
    height: 80px;
    &_header {
      width: 24px;
      height: 24px;
    }
  }
}
