.facts {
  &__content {
    width: var(--content-width-for-screen-1440);
    margin: auto;
  }

  &__title {
    color: var(--primary-text-color, #0f0f0f);
    font-family: 'Century Gothic', Arial, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    width: 1113px;
    margin: 0 0 60px 0;
  }
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__cat {
    background-image: url(../../../assets/images/images/main-page-background/background-cat.png);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    width: 318px;
    height: 489px;
    flex-shrink: 0;
  }
  &__table {
    width: 715px;
    display: flex;
    margin: 0;
    margin-right: 105px;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    row-gap: 60px;
  }
  &__cell {
    width: 295px;
  }
  &__heading {
    text-align: center;
    font-family: 'Century Gothic', Arial, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    margin: 0 auto;
    &_yellow {
      color: #fead2c;
    }
    &_green {
      color: #5fa88c;
    }
    &_violet {
      color: var(--primary-purple-color, #9384b7);
    }
    &_orange {
      color: #e57b42;
    }
  }
  &__text {
    color: var(--primary-text-color, #0f0f0f);
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 1430px) {
  .facts {
    &__content {
      width: var(--content-width-for-screen-1280);
    }

    &__title {
      width: 100%;
    }

    &__cat {
      width: 293px;
      height: 452px;
    }

    &__table {
      width: 715px;
      margin-right: 18px;
    }
  }
}

@media screen and (max-width: 1270px) {
  .facts {
    &__content {
      width: 100%;
      padding: 0 50px;
    }

    &__title {
      font-size: 34px;
      line-height: 38px;
      margin-bottom: 32px;
    }

    &__wrap {
      width: 100%;
      margin: auto;
    }

    &__cat {
      width: 280px;
      height: 430px;
    }

    &__table {
      margin-right: 0;
    }

    &__heading {
      font-size: 32px;
      line-height: 36px;
    }

    &__text {
      font-size: 18px;
      line-height: 20px;
      margin-top: 15px;
    }

  }
}

@media screen and (max-width: 990px) {
  .facts {
    &__title {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 0.4px;
    }

    &__cat {
      margin-left: -50px;
      align-self: flex-end;
    }

    &__cell {
      width: 215px;
    }

    &__heading {
      font-size: 30px;
      line-height: 95%;
    }

    &__text {
      font-size: 16px;
      line-height: 18px;
      margin: 12px auto 0;
    }
  }
}

@media screen and (max-width: 760px) {
  .facts {
    &__content {
      padding: 0 20px;
    }

    &__wrap {
      max-width: 570px;
    }

    &__table {
      width: 220px;
      margin: 0;
      row-gap: 24px;
    }

    &__cell {
      width: 100%;
    }

    &__heading {
      text-align: left;
      font-size: 30px;
      line-height: 95%;
    }

    &__text {
      text-align: left;
      font-size: 16px;
      line-height: 18px;
      margin: 12px auto 0;
    }
  }
}

@media screen and (max-width: 560px) {
  .facts {
    &__title {
      font-size: 20px;
      line-height: 28px;
    }

    &__wrap {
      max-width: 420px;
    }

    &__cat {
      margin-left: -190px;
    }
  }
}
