.card {
  font-family: 'Montserrat', Arial, sans-serif;
  max-width: 866px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__img {
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  &__container-info {
    width: 399px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__container-price {
    width: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__container-btn-heart {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
  }

  &__text {
    width: 366px;
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    &_grey {
      color: var(--text-grey-color);
    }

    &_price {
      margin: 12px 0 0;
      text-align: end;
      font-size: 26px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.78px;
      color: var(--purple-pushed-color);
    }
    &_discount {
      width: 100%;
      font-weight: 800;
      margin-top: 10px;
      text-align: end;
      text-decoration: line-through;
      color: var(--purple-disabled-color);
    }
  }
}
