.article {
  width: 820px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__margins {
    margin: 48px auto 100px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8px;
  }

  &__title {
    font-family: 'Century Gothic', Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
  }

  &__prop-text {
    color: var(--text-grey-color);
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  &__link {
    color: inherit;
    &:hover {
      opacity: 0.6;
    }
  }

  &__like {
    display: flex;
    gap: 4px;
    align-items: center;
    height: 40px;
  }
}

@media screen and (max-width: 990px) {
  .article {
    width: 100%;

    &__header {
      gap: 8px;
    }

    &__title {
      font-size: 40px;
    }

    &__prop-text {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 760px) {
  .article {
    gap: 24px;

    &__margins {
      margin-top: 23px;
    }

    &__header {
      margin-bottom: 0;
    }

    &__title {
      font-size: 20px;
    }

    &__prop-text {
      font-size: 14px;
    }
  }
}