.input {
  font-family: 'Montserrat', Arial, sans-serif;
  max-width: 144px;
  height: 44px;
  margin: 0;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  background: var(--grey-light-color, #f8f8f8);
  border: 1px solid var(--success-color, #f8f8f8);
  border: none;
  outline: 0;
  color: #000;
  border-radius: 8px;

  &_disabel {
    opacity: 0.5;
  }
  &_success {
    border: 1px solid var(--success-color, #03a600);
  }
}
