.input {
  font-family: 'Montserrat', Arial, sans-serif;
  width: 144px;
  height: 44px;
  margin: 0;
  border-radius: 8px;
  padding: 12px;
  background: var(--grey-light-color, #9c9c9c);
  border: 1px solid var(--success-color, #9c9c9c);
  border: none;
  outline: 0;
  color: var(--text-grey-color, #9c9c9c);
  border-radius: 8px;

  &:focus {
    color: var(--primary-text-color, #0f0f0f);
  }

  &_color {
    color: var(--primary-text-color, #0f0f0f);
  }

  &_disabel {
    opacity: 0.5;
  }
  &_success {
    color: var(--primary-text-color, #0f0f0f);
    border: 1px solid var(--success-color, #03a600);
  }
  &_error {
    color: var(--primary-text-color, #0f0f0f);
    border: 1px solid var(--error-color, #d80000);
  }
}
