.profile {
  padding: 48px 0 100px;

  &__exit {
    display: none;
    margin-top: 60px;
    width: fit-content;
    height: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    color: var(--primary-text-color, #0f0f0f);
    background: none;
    border: none;
    align-items: center;
    gap: 8px;
    &::before {
      content: '';
      width: 40px;
      height: 40px;
      background: url('../../assets/images/icon/exit-profile/exit.svg') center
        no-repeat;
    }
    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }
}

@media screen and (max-width: 760px) {
  .profile {
    &__exit {
      display: flex;
    }
  }
}

@media screen and (max-width: 560px) {
  .profile {
    padding: 24px 0 20px;
  }
}
