.goods {
  padding: 48px 0 100px;
  &__content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__cards {
    height: fit-content;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    gap: 52px;
  }
}
