.card {
  display: flex;
  flex-direction: column;
  width: 610px;
  min-height: 760px;
  border-radius: 10px;
  background-color: var(--purple-pale-color, #f9f7fc);
  padding: 40px;
  justify-content: center;
  &__add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__add-title {
    margin: 0;
    color: var(--primary-text-color, #0f0f0f);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
  }
}

@media screen and (max-width: 1440px) {
  .card {
    width: 552px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 320px;
    padding: 16px;
    gap: 24px;
    min-height: min-content;
    &__add-title {
      font-size: 16px;
      line-height: 20px; /* 125% */
      letter-spacing: 0.32px;
    }
  }
}
