.button-eye {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/image/icon/btn-eye/Eye-false.svg);
  background-size: cover;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &_action {
    background-image: url(../../assets/image/icon/btn-eye/Eye-true.svg);
    background-size: 24px 24px;
  }
}
