$size: 24px;

.button-eye {
  width: $size;
  height: $size;
  background-size: cover;
  border: none;
  background-color: rgba(var(--primary-text-color), 0);
  cursor: pointer;
  padding: 0;

  &_position {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
