.list {
  display: flex;
  gap: 20px;
  flex-direction: column;

  &__container {
    display: flex;
    gap: 8px;
  }

  &__input {
    width: clamp(272px, 60vw, 478px);

    height: 34px;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #9c9c9c;
    border-radius: 8px;
    background: #f8f8f8;
    box-sizing: border-box;
    border: none;
    outline: none;

    &:focus {
      color: #000;
    }

    &_error {
      animation: animError 0.47s;
      border: 2px solid var(--error-color, #d80000);
    }

    &_success {
      border: 2px solid var(--success-color, #03a600);
    }
  }
}

@keyframes animError {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
