.schedule {
  width: clamp(320px, 65vw, 726px);
  margin: 60px auto 139px;

  &__title {
    margin: 0 auto 48px;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }

  &__fieldset {
    margin: 0 0 40px;
    padding: 0;
    border: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: clamp(38px, 1vh, 28px);
  }

  &__container-btn {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
  }
}
