.stars {
  font-family: 'Montserrat', Times, serif;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  gap: 9px;

  &__rating {
    height: 20.3px;
  }

  &__text {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }
}
