.stars {
  font-family: 'Montserrat', Times, serif;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 9px;

  &__rating {
    height: 20px;
  }

  &__text {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
}

@media screen and (max-width: 1270px) {
  .stars {
    gap: 6px;

    &__text {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 990px) {
  .stars {   
    flex-direction: row-reverse;
    width: fit-content;

    &__rating {
      height: 18px;
    }
  }
}

@media screen and (max-width: 560px) {
  .stars {
    &__text {
      font-size: 14px;
    }
  }
}
