.specialists-card {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin: 0;

  &__image {
    width: 180px;
    height: 180px;
    background-color: var(--purple-pale-color, #f9f7fc);
    position: relative;
    box-sizing: border-box;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__info {
    max-width: 529px;
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
  }

  &__title-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  &__profession {
    cursor: pointer;
    color: var(--primary-text-color, #0f0f0f);
    text-decoration: none;
    margin: 0;
    padding: 4px 8px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 8px;
    background-color: var(--blue-color);
    transition: opacity 0.4s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &__price {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &__worked-with {
    margin: 0;
  }

  &__description {
    margin: 0;
    max-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    /* Скрывает текст, который не помещается в контейнер */
    text-overflow: ellipsis;
    /* Добавляет троеточие (...) к скрытому тексту */
    -webkit-line-clamp: 3;
    /* Ограничение на количество отображаемых строк (здесь 3 строки) */
    -webkit-box-orient: vertical;
  }

  &__review {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: max-content;
    justify-content: flex-start;
  }

  &__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-grey-color);
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__name {
    margin: 0 0 8px;
  }
}