.filling-schedule {
  width: clamp(280px, 75vw, 726px);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: clamp(100px, 10%, 60px);

  &__title {
    font-size: clamp(18px, 5vw, 28px);
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: clamp(24px, 5%, 50px);
  }

  &__container-btn {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 760px) {
  .filling-schedule {
    margin-top: 20px;
    &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }
  }
}
