.services {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  &__list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 40px;
    width: 100%;
  }

  &__button{
    margin-left: 20px;
  }
}

@media screen and (max-width: 1270px) {
  .services {
    &__button{
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 760px) {
  .services {
    gap: 10px;

    &__button{
      margin-left: 0;
    }

    &__list{
      gap: 24px;
    }
  }
}