.services {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;

  &__list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 40px;
  }

  &__button{
    padding: 0;
    margin: 0 0 0 20px;
  }
}

@media screen and (max-width: 990px) {
  .services {
    &__list{
      width: 100%;
    }
  }
}

@media screen and (max-width: 560px) {
  .services {
    &__list{
      gap: 24px;
    }
  }
}