.form-prices {
  width: 766px;
  margin: 60px auto;
  font-family: 'Montserrat', Arial, sans-serif;

  &__container {
    display: flex;
    gap: 20px;
    margin-bottom: 12px;
  }

  &__text {
    width: 442px;
  }
}
