.mobile-sort-popup {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.3);
  visibility: hidden;
  z-index: 12;

  &_opened {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 272px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 20px 20px 0px 0px;
    gap: 20px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
  }

  &__close-btn {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/images/icon/btn-close/close-btn.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    object-fit: cover;
  }

  &__close-btn:hover {
    opacity: 0.6;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__header {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
    margin: 0;
    align-self: center;
  }

  &__remove {
    color: var(--main-colors-purple, #9384b7);
    /* Mobile/Text small 14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.28px;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
  }

  &__remove:hover {
    opacity: 0.6;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0;
    margin: 0;
  }

  &__option {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    /* Mobile/Text small 14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.28px;
    margin: 0;
  }
}

@media screen and (min-width: 761px) {
  .mobile-filter {
    display: none;
  }
}
