.header {
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  height: 100px;
  z-index: 1;

  &__content {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__container {
    display: flex;
    gap: 26px;
    align-items: center;
  }

  &__container-btn {
    display: flex;
    gap: 22px;
    align-items: center;
  }
}

@media screen and (max-width: 1439px) {
  .header {
    padding: 20px 80px;

    &__content {
      width: 1120px;
    }

    &__container-btn {
      gap: 20px;
    }
  }
}
