.header {
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  height: 100px;
  z-index: 1;

  &__link {
    display: flex;
    align-items: center;
  }

  &__container {
    display: flex;
    gap: 26px;
    align-items: center;
  }

  &__container-btn {
    display: flex;
    gap: 22px;
    align-items: center;
  }
}
