.like {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(var(--primary-text-color), 0);
  background-image: url(../../../assets/images/icon/btn-like/like-default.svg);
  cursor: pointer;
  transition: background-image .3s linear;

  &:hover {
      background-image: url(../../../assets/images/icon/btn-like/like-hover.svg);
  }
}

.action {
  background-image: url(../../../assets/images/icon/btn-like/like-liked.svg);
}
