.like {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  border-radius: 100%;
  background: url(../../../assets/images/icon/btn-like/like-default.svg) 49% 63%/cover no-repeat;
  background-size: 71%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover {
    background-color: unset;
    background: url(../../../assets/images/icon/btn-like/like-hover.svg) center
      center/cover no-repeat;
    background-size: 100%;
  }
}

.action {
  background-color: unset;
  background: url(../../../assets/images/icon/btn-like/like-liked.svg) center
    center/cover no-repeat;
  background-size: 100%;
}
