.like {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(var(--primary-text-color), 0);
  background-image: url(../../../assets/images/icon40/Like-default.svg);
  cursor: pointer;
  animation: dislike 0.5s;

  &:hover {
    opacity: 0.7;
  }

  @keyframes action-like {
    0% {
      transform: scale(0);
    }

    25% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1);
      filter: brightness(1.5);
    }
  }

  @keyframes dislike {
    0% {
      transform: scale(0);
    }

    25% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1);
      filter: brightness(1.5);
    }
  }
}

.action {
  background-image: url(../../../assets/images/icon40/Like-liked.svg);
  animation: action-like 0.5s;
}
