.schedule {
  &__box {
    min-width: clamp(100px, 20vw, 133px);
    height: clamp(56px, 68px, 78px);
    padding: clamp(8px, 14px, 15px);
    border-radius: 8px;
    background-color: var(--purple-pale-color);
  }

  &__text {
    margin: 0;
    text-align: center;
    font-size: clamp(14px, 1vw, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: clamp(18px, 20px, 22px);
  }
}
