.nav-link {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  font-family: 'Montserrat', Arial, sans-serif;

  &:hover {
    opacity: 0.9;
  }

  &__wishlist {
    width: 100%;
    height: 100%;
    background: url(../../../assets/images/icon/favourite/favourite.svg)
      no-repeat;
    background-size: contain;
  }

  &__basket {
    width: 100%;
    height: 100%;
    background: url(../../../assets/images/icon/basket/basket.svg) no-repeat;
    background-position: center;
    background-size: 110%;
  }

  &__menu {
    width: 100%;
    height: 100%;
    background: url(../../../assets/images/icon/btn-burger/btn-burger.svg) no-repeat;
    background-position: center;
    background-size: 85%;
  }

  &__span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    background-color: var(--purple-light-color, #b8acd4);
    border-radius: 50%;
  }

  &__counter-min {
    width: 18px;
    height: 18px;
  }

  &__counter-max {
    width: 24px;
    line-height: 16px;
    height: 16px;
    border-radius: 10px;
    bottom: 1px;
    right: 0px;
  }
}

@media screen and (max-width: 990px) {
  .nav-link {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 760px) {
  .nav-link {
    width: 24px;
    height: 24px;
  }
}