.auth {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 500px;
  width: fit-content;
  margin: auto;
  &__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin: 0 0 8px;
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
  }
  &__navbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__navtext {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
  }
}

@media screen and (max-width: 760px) {
  .auth {
    gap: 24px;
    max-width: 380px;
    &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }
    &__group {
      gap: 12px;
    }
    &__subtitle {
      font-size: 18px;
      line-height: 24px;
    }
    &__navbox {
      align-items: center;
      gap: 12px;
    }
    &__navtext {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}
