.arrow-up {
  width: 18px;
  height: 18px;
}

.arrow-down-up_position {
  position: absolute;
  top: 0px;
  right: 15px;
  opacity: 1;
  cursor: pointer;
}

.arrow-down_active {
  opacity: 0;
  display: none;
}
