.footer {
  width: 100%;
  padding: 40px 100px 51px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 0px 0px;
  background-color: var(--primary-purple-color);
  color: var(--text-white-color);

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }
  &__title {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    gap: 10px;
  }
  &__copyright {
    font-size: 20px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 2px;
  }
  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    &:hover {
      opacity: 0.6;
    }
  }
}

@media screen and (max-width: 1440px) {
  .footer {
    padding: 40px 80px;
  }
}

// @media screen and (max-width: 992px) {
//   .footer {
//     padding: 32px 60px;
//   }
// }

// @media screen and (max-width: 576px) {
//   .footer {
//     padding: 32px 60px;
//     align-items: center;
//     &__title {
//       font-size: 12px;
//       flex-direction: column;
//     }
//     &__links {
//       width: 100%;
//       justify-content: center;
//     }
//     &__link {
//       font-size: 10px;
//       line-height: normal;
//       margin-right: 10px;
//     }
//   }
// }
