.price {
  width: clamp(310px, 88vw, 766px);
  margin: 60px auto;
  margin-top: clamp(0px, 10%, 60px);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

  &__title {
    margin-top: clamp(24px, 10%, 0px);
    margin: 0;
    font-size: clamp(20px, 5vw, 28px);
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }

  &__box {
    width: 100%;
    margin-top: clamp(32px, 10%, 48px);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: clamp(24px, 10%, 40px);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__container-btn {
    display: flex;
    justify-content: space-between;
  }
}
