.form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 500px;
  margin: auto;
  &__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin: 0;
  }
  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: none;
    margin: 0;
    padding: 0;
    &_type_checkbox {
      gap: 20px;
    }
  }
  &__legend {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0 0 40px;
    &_type_checkbox {
      margin-bottom: 20px;
    }
  }
  &__agreement {
    margin: 0;
  }
  &__link {
    text-decoration: none;
    color: var(--link-color, #9384B7);
    &:hover {
      opacity: 0.6;
    }
  }
  &__error {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: block;
    width: 100%;
    height: 18px;
    margin: 8px auto 0;
    color: var(--error-color, #d80000);
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 760px) {
  .form {
    gap: 24px;
    width: 100%;
    max-width: 380px;
    &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 8px;
    }
    &__fieldset {
      gap: 8px;
      &_type_checkbox {
        gap: 20px;
      }
    }
    &__legend {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      margin: 0 0 12px;
      &_type_checkbox {
        margin-bottom: 20px;
      }
    }
    &__buttons {
      flex-wrap: wrap;
      gap: 16px;
    }
  }
}

// @media screen and (max-width: 560px) {
//   .form {
//     &__buttons {
//       flex-direction: column;
//       // align-items: center;
//       gap: 16px;
//     }
//   }
// }