.background {
  width: 80px;
  height: 107px;
  background: var(--primary-purple-color);
  display: flex;
  border-radius: 8px;
}

.loading {
  margin: auto;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-image: url(../../assets/image/icon/loading/loading.svg);
  background-repeat: no-repeat;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
