.specialists {
    padding: 120px 100px;

    &__title {
        color: var(--primary-text-color, #0F0F0F);
        font-family: Century Gothic;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 66px;
        max-width: 670px;
        margin: 0 auto 60px 0;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        max-width: 1240px;
        column-gap: 20px;
        padding: 0;
        margin: 0 auto;
    }
}
