.specialists {
  padding: 120px 100px;
  border-radius: 20px 20px 0px 0px;
  background-color: var(--text-white-color);
  margin-top: -20px;

  &__title {
    color: var(--primary-text-color, #0f0f0f);
    font-family: Century Gothic;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    max-width: 670px;
    margin: 0 auto 60px 0;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 20px;
    padding: 0;
  }
}

@media screen and (max-width: 1280px) {
  .specialists {
    padding: 100px 80px;

    &__cards {
      column-gap: 16px;
    }
  }
}
