.pet-card {
  width: 295px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
  border-radius: 10px;
  background: url('../../assets/images/icon/paw/paw-img-card.svg') center
    no-repeat;
  background-color: var(--purple-pale-color, #f9f7fc);
  position: relative;
  box-sizing: border-box;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    top: 0;
    right: 0;
    border-radius: inherit;
  }

  &__edit {
    width: 32px;
    height: 32px;
    border: none;
    background: url('../../assets/images/icon/gear-wheel/gear-wheel.svg') center
      no-repeat;
    background-color: var(--background-white-color, #fff);
    opacity: 0.7;
    border-radius: 100%;
    cursor: pointer;
    &:hover {
      opacity: 0.3;
    }
  }

  &__content-wrapper {
    width: 100%;
    background-color: var(
      --background-white-color-rgba,
      rgba(255, 255, 255, 0.7)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border-radius: 10px;
    padding-top: 8px;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: var(--primary-text-color, #0f0f0f);
  }

  &__subtitle {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: var(--text-grey-color, #9c9c9c);
  }
}

.add {
  background-image: none;
  justify-content: center;
  align-items: center;
  gap: 11px;
  padding-top: 24px;

  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: var(--primary-text-color, #0f0f0f);
    margin: 0;
  }
}
