:root {
  /* // Основные цвета */
  --primary-purple-color: #9384b7;
  --purple-light-color: #b8acd4;
  --purple-pushed-color: #615779;
  --purple-disabled-color: #d2c9e8;
  --green-color: #8fd6bf;
  --yellow-color: #f9d279;
  --blue-color: #bed2ea;

  /* // Дополнительные цвета */
  --background-color: #fff;
  --background-section-color: #f8f8f8;
  --background-color-dropdown: #f9f7fc;

  /* // Цвет текста */
  --primary-text-color: #000;
  --primary-text-span-color: #9c9c9c;
  --text-button-color: var(--purple-pushed-color);
  --text-input-err-color: #ee3465;
  --texe-success-input: #03a600;

  /* //Дополнительные цвета */
  --link-color: var(--primary-purple-color);
  --search-color: #bebebe;
  --grey-color: #f8f8f8;
  --light-color: #d4d4d4;
}
