:root {
  /* // Основные цвета */
  --primary-purple-color: #9384b7;
  --primary-purple-color-rgba: rgba(143, 129, 177, 0.2);
  --purple-light-color: #b8acd4;
  --purple-pale-color: #f9f7fc;
  --purple-pushed-color: #615779;
  --purple-disabled-color: #d2c9e8;
  --green-color: #8fd6bf;
  --green-light-color: #bce6d9;
  --yellow-color: #f9d279;
  --yellow-light-color: #fbe4af;
  --blue-color: #bed2ea;
  --blue-light-color: #d8e4f2;

  /* // Цвет текста */
  --primary-text-color: #0f0f0f;
  --text-grey-color: #9c9c9c;
  --text-white-color: #fff;
  --text-button-color: var(--purple-pushed-color);

  /* //Дополнительные цвета */
  --background-white-color: #fff;

  --link-color: var(--primary-purple-color);
  --reverse-color: var(--background-white-color);

  --grey-search-color: #bebebe;
  --grey-light-color: #f8f8f8;
  --grey-color: #d4d4d4;

  --error-color: #d80000;
  --success-color: #03a600;
}
