.card {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
  max-width: 295px;
  border-radius: 10px;
  background: var(--purple-pale-color);
  box-shadow: 0px 4px 10px 0px var(--primary-purple-color);
  padding: 25px 0;
  line-height: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &_gap {
    gap: 17px;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }

  &__text {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    &_grey {
      color: var(--text-grey-color);
    }
    &_discount {
      margin-bottom: 30px;
      color: var(--purple-pushed-color);
    }
    &_price-top {
      margin: 40px 0 15px;
    }
    &_black {
      margin-top: 2px;
      font-weight: 700;
    }
    &_delivery {
      margin-top: 15px;
    }
    &_delivery-discount {
      margin-top: 15px;
    }
    &_price {
      margin: 27px 0 5px;
    }
  }

  &__container {
    &_delivery {
      padding: 15px 0;
      display: flex;
      gap: 7px;
      flex-direction: column;
    }
    &_payment {
      gap: 5px;
      flex-direction: column;
    }
    &_price {
      display: flex;
      flex-direction: column;
      margin: 8px auto;
    }
  }

  &__span {
    margin: 0 auto;
    width: 146px;
    border: 1.5px solid var(--purple-light-color);
  }
}
