.navigation-pages {
  font-family: 'Montserrat', Arial, sans-serif;
  display: flex;
  gap: 37px;
  list-style-type: none;
  padding: 0;

  &__link {
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: var(--primary-text-color);
  }

  &__link_action {
    color: var(--primary-purple-color);
    text-decoration: underline;
  }

  &__link:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 1430px) {
  .navigation-pages {
    gap: 30px;
  }
}

@media screen and (max-width: 1270px) {
  .navigation-pages {
    gap: 4vw;
  }
}

@media screen and (max-width: 990px) {
  .navigation-pages {
    gap: 3.5vw;

    &__link {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 760px) {
  .navigation-pages {
    gap: 2.8vw;

    &__link {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 560px) {
  .navigation-pages {
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;

    &__link {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
