.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
  width: 914px;
  padding-top: 60px;
  &__title {
    margin: 0;
    color: var(--primary-text-color, #0f0f0f);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    padding-left: 8px;
  }
  &__title-explanation {
    color: var(--primary-text-color, #0f0f0f);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 914px;
    display: flex;

    &_image {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__wrapper-image {
    width: 295px;
    height: 350px;
    border-radius: 10px;
    background: url('../../assets/images/icon/paw/paw-img-card.svg') center
      no-repeat;
    background-color: var(--purple-pale-color, #f9f7fc);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  &__legend {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 20px;
    color: var(--primary-text-color, #0f0f0f);
  }

  &__wrapper-button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 186px;
    justify-content: center;
  }

  &__label {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    display: grid;
    grid-template-columns: 390px 500px;
    gap: 24px;
    width: 100%;
    &_pb8 {
      padding-bottom: 8px;
    }
  }

  &__age-wrapper {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 135px 50px);
  }

  &__age {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: var(--primary-text-color, #0f0f0f);
    margin-top: 13px;
  }

  &__radio-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 1440px) {
  .form {
    &__title {
      padding-left: 0;
    }
  }
}
