.advert-card {
  margin: 32px 0 0;
  flex-direction: row;
  gap: 60px;
  display: flex;
  width: 100%;
  

  &__schedule-day{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 20px; 
    padding: 0;
    margin: 0;
    justify-content: start;

    & li{
      width: fit-content;
    }
  }

  &__options-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_align-bottom {
      justify-content: flex-end;
    }
  }
}
